@import "tailwindcss";

*{
 padding: 0;
 /* margin: 0; */
}
.app{
  width: 80%;
  margin: auto;
}
body {
background-image: url("/bgimage2.jpg");
background-color: black;
background-size: cover;  
background-position: center;
background-repeat: no-repeat;
overflow-y: scroll;
background-attachment: fixed;
}
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}